@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Edu+TAS+Beginner:wght@500&family=Noto+Sans:ital@0;1&display=swap');
* {
  padding: 0;
  border: 0;
  margin: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
  }
  

h1 {
    font-family: "Agbalumo", sans-serif;
    color: #ed303c!important;
    margin-bottom: 1em;
  }
  
  h2, h3{
    font-family: "Edu TAS Principiante", sans-serif;
  }
  
  h4, h5, h6, p {
    font-family: "Noto Sans", sans-serif;
  }
header{
    background-color: #ff9c5b;
    text-align: center;
    padding: 0.5em 1em;
    margin-bottom: 1em;
}
header p{
    font-family: "Agbalumo", sans-serif;
    color: #3b8183;
}

.presentacion{
    margin: auto;
    text-align: center;
}
.estilo_boton{
    color: #f5bd98;
    background-color: #3b8183;
    padding: 1em;
    margin: auto;
    border-radius: 0.5em;
}
.form-inline{
    display: flex !important;
}

.apagado{
    visibility: hidden;
    display: none !important;
}

.ver_carta{
    padding: 0.5em;
    border: 0.1em solid #6d9192;
    border-radius: 0.5em;
}
.indice_comidas {
    display: flex;
    justify-content: space-between; 
    margin: auto;
    margin-top: 2em;
    width: 50%;
}
.boton_comidas{
    width: 50%;
    margin: auto;
}
.boton_comidas button{
    color: #ed303c;
    margin: 0.3em;
}

.carta_completa{
    padding-top: 1em;
    margin-left: 1em;
}

/* .carta_completa article{
    display: flex;
    margin-bottom: 1em;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
} */

.tipo_comida{
    display: flex;
    margin-bottom: 2em;
    justify-content: flex-start;
}

.carta_completa h3{
    width: 6em;
}

.card{
    margin-left: 0.2em;
}
.cancelar{
    background-color: #ed303c;
    padding: 0.5em;
    width: 5em;
    border-radius: 1em;
    text-align: center;
    position: absolute;
    top: 30em;
    right: 15em;
}
.cancelar button{
    color: #ffffff;
    background-color: #ed303c;
    font-family: "Edu TAS Principiante", sans-serif;
    
}
.salir{
    background-color: #ff9c5b;
    color: #ffffff;
    border-radius: 1em;
    text-align: center;
    width: 50%;
    padding: 3em 1em;
    margin: auto;
    margin-top:1em;
}


.total{
    border: 0.3em solid black;
    width: 15em;
    margin: auto;
    margin-bottom: 1em;
    
}