@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Edu+TAS+Beginner:wght@500&family=Noto+Sans:ital@0;1&display=swap');
* {
  padding: 0;
  border: 0;
  margin: 0;
}

ul, ol {
    list-style-type: none;
    padding-left: 0;
  }
  

h1 {
    font-family: "Agbalumo", sans-serif;
    color: #ed303c!important;
    margin-bottom: 1em;
  }
  
  h2, h3{
    font-family: "Edu TAS Principiante", sans-serif;
  }
  
  h4, h5, h6, p {
    font-family: "Noto Sans", sans-serif;
  }
header{
    background-color: #ff9c5b;
    text-align: center;
    padding: 0.5em 1em;
    margin-bottom: 1em;
}
header p{
    font-family: "Agbalumo", sans-serif;
    color: #3b8183;
}

.presentacion{
    margin: auto;
    text-align: center;
}
.estilo_boton{
    color: #f5bd98;
    background-color: #3b8183;
    padding: 1em;
    margin: auto;
    border-radius: 0.5em;
}
.estilo_boton:hover{
    background-color: #f5bd98;
    color: #3b8183;
}

#lista_menu_general{
    align-items: center;
    padding: 2em;
    width: auto;
}
#lista_menu_general li{
   text-align: center;
}
#lista_menu_general li button{
    padding: 1em;
    margin: 1em;
    text-align: center;
    color: #3b8183;
    border: 0.1em solid #3b8183;
}
#lista_menu_general li button:hover{
    background-color: #3b8183;
    color: #ffffff;
}

.apagado{
    visibility: hidden;
    display: none !important;
}

.carta_completa{
    padding-top: 1em;
    margin-left: 1em;
}

.cancelar{
    background-color: #ed303c;
    padding: 0.5em;
    width: 5em;
    border-radius: 1em;
    text-align: center;
    position: fixed;
    bottom: 1em;
    right: 10em;
}
.cancelar button{
    color: #ffffff;
    background-color: #ed303c;
    font-family: "Edu TAS Principiante", sans-serif;
}
.salir{
    background-color: #ff9c5b;
    color: #ffffff;
    border-radius: 1em;
    text-align: center;
    width: 50%;
    padding: 3em 1em;
    margin: auto;
    margin-bottom:1em;
    margin-top: 3em;
}

.total{
    border: 0.3em solid black;
    width: 15em;
    margin: auto;
    margin-bottom: 1em;
}